@page
@model Recruitment.Pages.Backend.ForgetpasswordModel
@{
    ViewData["Title"] = "Forgetpassword";
    Layout = "_Layout_Login";
}

@Html.AntiForgeryToken()

<!-- Main Wrapper -->
<div class="main-wrapper">
    <div class="account-content">
        <div class="login-wrapper">
            <div class="login-content">
                <div class="login-userset ">
                    <div class="login-logo">
                        <img src="/assets/img/logo.png" alt="img">
                    </div>
                    <div class="login-userheading">
                        <h3>Forgot password?</h3>
                        <h4>
                            Don’t warry! it happens. Please enter the address <br>
                            associated with your account.
                        </h4>
                    </div>
                    <div class="form-login">
                        <label>Email</label>
                        <div class="form-addons">
                            <input type="email" name="mail" id="mail" placeholder="Enter your email address">
                            <img src="/assets/img/icons/mail.svg" alt="img">
                        </div>
                    </div>
                    <div class="form-login">
                        <a class="btn btn-login" onclick="Submit()">Submit</a>
                    </div>
                </div>
            </div>
            <div class="login-img">
                <img src="/assets/img/login.jpg" alt="img">
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
          function Submit() {
            $.ajax({
                type: 'post',
                url: '/Backend/Forgetpassword?handler=ResetPassword',
                data: { Email: $("#mail").val() },
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                beforeSend: function () {
                    Swal.fire('กรุณารอสักครู่ กำลังทำรายการ')
                    Swal.showLoading()
                },
                success: function (data) {
                    Swal.fire({
                        icon: 'success',
                        title: 'ยื่นขอเปลื่ยนรหัสผ่าน เรียบร้อยแล้ว',
                        showConfirmButton: false,
                        timer: 3500
                    });
                    setTimeout(function(){
                              window.location.reload();
                            },2000)
                },
                error: (e) => {
                    displayError(e);
                }
            });
        }
    </script>
}