@page
@model Recruitment.Pages.Backend.IndexModel
@using Recruitment.Helpers
@inject Recruitment.Repositories.IUnitOfWork _unitofwork;
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout_Backend";
    var (userid, roles, _, department) = User.GetUser();
    var permission = await _unitofwork.PermissionSettingRepository.GetPermission(userid);
    var showchart = 0;
    if (permission.FirstOrDefault()?.reportteam == true)
    {
        showchart = 1;
    }
    else if (permission.FirstOrDefault()?.reportinfo == true)
    {
        showchart = 2;
    }
    else if (permission.FirstOrDefault()?.reportproject == true)
    {
        showchart = 3;
    }
    else if (permission.FirstOrDefault()?.reporttargetvsachieved == true)
    {
        showchart = 4;
    }
}

@Html.AntiForgeryToken()

<div class="page-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <form id="From">
                    <div class="card-header col-lg-12 row">
                       @*  <div class="col-md-6" style="margin-top:10px">
                            <h4 class="card-title">Start Date</h4>
                            <input type="date" class="form-control" placeholder="ค้นหาวันที่" id="StartDate" />
                        </div>
                        <div class="col-md-6" style="margin-top:10px">
                            <h4 class="card-title">To Date</h4>
                            <input type="date" class="form-control" placeholder="ค้นหาวันที่" id="ToDate" />
                        </div> *@
                        <div class="col-md-6" style="margin-top:10px">
                            <h4 class="card-title">Start Date</h4>
                            <div class="input-group" id="startdate_wrapper">
                                <input class="form-control" type="text" id="startdate" placeholder="dd/mm/yyyy" />
                                <span class="input-group-text" style="cursor:pointer"><i class="fa fa-calendar"></i></span>
                            </div>
                            <input type="hidden" id="startdate_hidden" name="startdate" />
                        </div>

                        <div class="col-md-6" style="margin-top:10px">
                            <h4 class="card-title">To Date</h4>
                            <div class="input-group" id="enddate_wrapper">
                                <input class="form-control" type="text" id="enddate" placeholder="dd/mm/yyyy" />
                                <span class="input-group-text" style="cursor:pointer"><i class="fa fa-calendar"></i></span>
                            </div>
                            <input type="hidden" id="enddate_hidden" name="enddate" />
                        </div>

                        <div class="col-md-6" style="margin-top:10px">
                            <h4 class="card-title">ประเภทรายงาน</h4>
                            <select class="form-control js-example-basic-single" id="TypeReport">
                                @if (permission.FirstOrDefault()?.reportteam == true)
                                {
                                    <option value="1">Performance Report-RC</option>
                                }
                                @if (permission.FirstOrDefault()?.reportinfo == true)
                                {
                                    <option value="2">Performance Report-Port</option>
                                }
                                @if (permission.FirstOrDefault()?.reportproject == true || roles == "recruiter")
                                {
                                    <option value="3">Replacement Report</option>
                                }
                                @if (permission.FirstOrDefault()?.reporttargetvsachieved == true)
                                {
                                    <option value="4">Target Vs Achieved</option>
                                }
                            </select>
                        </div>
                        <div class="text-end" style="margin-right:20px;margin-top:20px">
                            <a class="btn btn-sm btn-success" onclick="Search()">Search</a>
                            <a class="btn btn-sm btn-success" onclick="Reset()">Reset</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-12 d-flex">
                <div class="card flex-fill">
                    <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-0">Summary Data</h5>
                    </div>
                    <div class="card-body">
                         <div id="chart1"></div>
                        <div id="ReportPort"></div>
                        <div id="ReplacementReport"></div>
                        <div id="Target"></div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        
        const startPicker = flatpickr("#startdate", {
            altInput: true,
            altFormat: "d/m/Y",   // UI format
            dateFormat: "Y-m-d",  // Backend format
        });

        // End Date
        const endPicker = flatpickr("#enddate", {
            altInput: true,
            altFormat: "d/m/Y",
            dateFormat: "Y-m-d",
        });

        // Make icon open calendar
        document.querySelector("#startdate_wrapper .input-group-text").addEventListener("click", () => {
            startPicker.open();
        });

        document.querySelector("#enddate_wrapper .input-group-text").addEventListener("click", () => {
            endPicker.open();
        });
        //
        $(() => {
            if (`@showchart` == 1)
            {
                ReportRC(null, null);
            }
            else  if (`@showchart` == 2)
            {
                ReportPort(null, null);
            }
            else  if (`@showchart` == 3)
            {
                ReplacementReport(null, null);
            }
            else  if (`@showchart` == 4)
            {
                Target(null, null);
            }
        })

        var chart = null; // เก็บ chart ไว้ใน global scope

        function ReportRC(start, to) {
            if (chart) {
              chart.destroy(); // ล้างกราฟเก่า
            }

            $.ajax({
                type: 'get',
                url: '/Backend/Index?handler=ChartData',
                data: { start: start, to: to, type: 1 },
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (response) {
                    console.log(response)

                    // var options = {
                    //     series: [{
                    //         name: data.name[0],
                    //         data: data.data
                    //     }, {
                    //         name: data.name[1],
                    //         data: data.data2
                    //     }, {
                    //         name: data.name[2],
                    //         data: data.data3
                    //     }, {
                    //         name: data.name[3],
                    //         data: data.data4
                    //     }, {
                    //         name: data.name[4],
                    //         data: data.data5
                    //     }, {
                    //         name: data.name[5],
                    //         data: data.data6
                    //     }, {
                    //         name: data.name[6],
                    //         data: data.data7
                    //     }, {
                    //         name: data.name[7],
                    //         data: data.data8
                    //     }, {
                    //         name: data.name[8],
                    //         data: data.data9
                    //     }, {
                    //         name: data.name[9],
                    //         data: data.data10
                    //     }],
                    //     chart: {
                    //         type: 'bar',
                    //         height: 350
                    //     },
                    //     plotOptions: {
                    //         bar: {
                    //             horizontal: false,
                    //             columnWidth: '55%',
                    //             endingShape: 'rounded'
                    //         },
                    //     },
                    //     dataLabels: {
                    //         enabled: false
                    //     },
                    //     stroke: {
                    //         show: true,
                    //         width: 2,
                    //         colors: ['transparent']
                    //     },
                    //     xaxis: {
                    //         categories: data.detail,
                    //     },
                    //     yaxis: {
                    //         title: {
                    //             text: 'ประมาณข้อมูล'
                    //         }
                    //     },
                    //     fill: {
                    //         opacity: 1
                    //     },
                    //     tooltip: {
                    //         y: {
                    //             formatter: function (val) {
                    //                 return "" + val + " จำนวน"
                    //             }
                    //         }
                    //     },
                    //     download: true
                    // };
                    // chart = new ApexCharts(document.querySelector("#ReportRC"), options);
                    // chart.render();

                     var chart1 = "";
                    for(var i = 0;i < response.length;i++)
                    {
                        chart1 += "<div>";
                        chart1 += "<h6>"+ response[i].username +"</h6>";
                        chart1 += "<div id=\"ReportRC" + i + "\"></div>";
                        chart1 += "</div>";
                    }
                    $("#chart1").html(chart1);

                    for(var a=0; a < response.length;a++)
                    {
                          const series = response[a].name.map((_, colIndex) => {
                          const columnData = response[a].list.map(row => Number(row.data[colIndex]) || 0);
                          return {
                              name: response[a].name[colIndex],
                              data: columnData
                          };
                        });

                        var options = {
                            series: series,
                            chart: {
                                type: 'bar',
                                height: 350
                            },
                            plotOptions: {
                                bar: {
                                    horizontal: false,
                                    columnWidth: '55%',
                                    endingShape: 'rounded'
                                },
                            },
                            dataLabels: {
                                enabled: false
                            },
                            stroke: {
                                show: true,
                                width: 2,
                                colors: ['transparent']
                            },
                            xaxis: {
                                categories: response[0].detail || [],
                            },
                            yaxis: {
                                title: {
                                    text: 'ประมาณข้อมูล'
                                }
                            },
                            fill: {
                                opacity: 1
                            },
                            tooltip: {
                                y: {
                                    formatter: function (val) {
                                        return val + " จำนวน";
                                    }
                                }
                            }
                        };

                        var chart = new ApexCharts(document.querySelector("#ReportRC" + a), options);
                        chart.render();
                    }

                    document.getElementById('ReportRC').style.display = 'block';
                    document.getElementById('ReportPort').style.display = 'none';
                    document.getElementById('ReplacementReport').style.display = 'none';
                    document.getElementById('Target').style.display = 'none';
                }
            })
        }

        function ReportPort(start, to) {
            if (chart) {
              chart.destroy(); // ล้างกราฟเก่า
            }

            $.ajax({
                type: 'get',
                url: '/Backend/Index?handler=ChartData',
                data: { start: start, to, to, type: 2 },
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (data) {
                   var options = {
                        series: [{
                            name: data.name[0],
                            data: data.data
                        }, {
                            name: data.name[1],
                            data: data.data2
                        }, {
                            name: data.name[2],
                            data: data.data3
                        }, {
                            name: data.name[3],
                            data: data.data4
                        }, {
                            name: data.name[4],
                            data: data.data5
                        }, {
                            name: data.name[5],
                            data: data.data6
                        }, {
                            name: data.name[6],
                            data: data.data7
                        }, {
                            name: data.name[7],
                            data: data.data8
                        }, {
                            name: data.name[8],
                            data: data.data9
                        }, {
                            name: data.name[9],
                            data: data.data10
                        }],
                        chart: {
                            type: 'bar',
                            height: 350,
                            stacked: true,
                            stackType: '100%'
                        },
                        responsive: [{
                            breakpoint: 480,
                            options: {
                                legend: {
                                    position: 'bottom',
                                    offsetX: -10,
                                    offsetY: 0
                                }
                            }
                        }],
                        xaxis: {
                            categories: data.detail,
                        },
                        fill: {
                            opacity: 1
                        },
                        legend: {
                            position: 'right',
                            offsetX: 0,
                            offsetY: 50
                        },
                    };
                    chart = new ApexCharts(document.querySelector("#ReportPort"), options);
                    chart.render();

                    document.getElementById('ReportRC').style.display = 'none';
                    document.getElementById('ReportPort').style.display = 'block';
                    document.getElementById('ReplacementReport').style.display = 'none';
                    document.getElementById('Target').style.display = 'none';
                }
            })
        }

        function ReplacementReport(start, to) {
            if (chart) {
              chart.destroy(); // ล้างกราฟเก่า
            }

            $.ajax({
                type: 'get',
                url: '/Backend/Index?handler=ChartData',
                data: { start: start, to, to, type:3 },
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (data) {
                    var options = {
                        series: [{
                            name: data.detail[0],
                            data: data.data
                        }, {
                            name: data.detail[1],
                            data: data.data2
                        }, {
                            name: data.detail[2],
                            data: data.data3
                        }],
                        chart: {
                            type: 'bar',
                            height: 350,
                            stacked: true,
                            stackType: '100%'
                        },
                        responsive: [{
                            breakpoint: 480,
                            options: {
                                legend: {
                                    position: 'bottom',
                                    offsetX: -10,
                                    offsetY: 0
                                }
                            }
                        }],
                        xaxis: {
                            categories: data.name,
                        },
                        fill: {
                            opacity: 1
                        },
                        legend: {
                            position: 'right',
                            offsetX: 0,
                            offsetY: 50
                        },
                    };
                    chart = new ApexCharts(document.querySelector("#ReplacementReport"), options);
                    chart.render();

                    document.getElementById('ReportRC').style.display = 'none';
                    document.getElementById('ReportPort').style.display = 'none';
                    document.getElementById('ReplacementReport').style.display = 'block';
                    document.getElementById('Target').style.display = 'none';
                }
            })
        }

        function Target(start, to) {
            if (chart) {
                chart.destroy(); // ล้างกราฟเก่า
            }

            $.ajax({
                type: 'get',
                url: '/Backend/Index?handler=ChartData',
                data: { start: start, to: to, type: 4 },
                headers: {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (data) {
                    var options = {
                        chart: {
                            height: 280,
                            type: "radialBar",
                            locales: [{
                                name: "en",
                                options: {
                                    // months: [...], // เดือน
                                    // shortMonths: [...], // เดือนย่อ
                                    // days: [...], // วัน
                                    // shortDays: [...], // วันย่อ
                                    toolbar: {
                                        exportToSVG: "Download SVG",
                                        exportToPNG: "Download PNG",
                                        exportToCSV: "Download CSV",
                                        menu: "Menu",
                                        selection: "Selection",
                                        selectionZoom: "Selection Zoom",
                                        zoomIn: "Zoom In",
                                        zoomOut: "Zoom Out",
                                        pan: "Panning",
                                        reset: "Reset Zoom",
                                    }
                                }
                            }],
                            defaultLocale: "en"
                        },
                        series: data.data,
                        plotOptions: {
                            radialBar: {
                                dataLabels: {
                                    name: { fontSize: '22px' },
                                    value: {
                                        fontSize: '16px',
                                        formatter: function (val) {
                                            return val;
                                        }
                                    },
                                    total: {
                                        show: true,
                                        label: 'Target',
                                        formatter: function (w) {
                                            return data.count;
                                        }
                                    }
                                }
                            }
                        },
                        labels: data.detail
                    };

                    chart = new ApexCharts(document.querySelector("#Target"), options);
                    chart.render();

                    document.getElementById('ReportRC').style.display = 'none';
                    document.getElementById('ReportPort').style.display = 'none';
                    document.getElementById('ReplacementReport').style.display = 'none';
                    document.getElementById('Target').style.display = 'block';
                }
            });
        }


        // function Target(start, to) {
        //     if (chart) {
        //       chart.destroy(); // ล้างกราฟเก่า
        //     }
      
        //     $.ajax({
        //         type: 'get',
        //         url: '/Backend/Index?handler=ChartData',
        //         data: { start: start, to, to, type:4 },
        //         headers:
        //         {
        //             "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
        //         },
        //         success: function (data) {
        //             console.log(data.data)
        //             var options = {
        //                 chart: {
        //                     height: 280,
        //                     type: "radialBar",
        //                 },
        //                 series: data.data,
        //                 plotOptions: {
        //                     radialBar: {
        //                         dataLabels: {
        //                           name: {
        //                             fontSize: '22px',
        //                           },
        //                           value: {
        //                             fontSize: '16px',
        //                             formatter: function (val) {
        //                                 return val; // แสดงค่าเฉย ๆ ไม่มี %
        //                               }
        //                           },
        //                           total: {
        //                                 show: true,
        //                                 label: 'Target',
        //                                 formatter: function (w) {
        //                                     // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
        //                                     return data.count;
        //                                 }
        //                             }
        //                         }
        //                     }
        //                 },
        //                 labels: data.detail
        //             };

        //             new ApexCharts(document.querySelector("#Target"), options);
        //             chart.render();

        //             document.getElementById('ReportRC').style.display = 'none';
        //             document.getElementById('ReportPort').style.display = 'none';
        //             document.getElementById('ReplacementReport').style.display = 'none';
        //             document.getElementById('Target').style.display = 'block';
        //         }
        //     })
        // }

        function Search() {
            var type = $("#TypeReport").val();
            // var start = $("#StartDate").val();
            // var to = $("#ToDate").val();

            var start = $("#startdate").val();
            var to = $("#enddate").val();

            if (type == 1) {
                ReportRC(start, to);
            } else if (type == 2) {
                ReportPort(start, to);
            } else if (type == 3) {
                ReplacementReport(start, to);
            } else if (type == 4) {
                Target(start, to);
            }
        }

        function Reset() {
            document.getElementById("From").reset();
        }

    </script>
}