@page
@model Recruitment.Pages.Backend.ResetpasswordModel
@{
    ViewData["Title"] = "Resetpassword";
    Layout = "_Layout_Login";
}

@Html.AntiForgeryToken()

<!-- Main Wrapper -->
<div class="main-wrapper">
    <div class="account-content">
        <div class="login-wrapper">
            <div class="login-content">
                <div class="login-userset ">
                    <div class="login-logo">
                        <img src="/assets/img/logo.png" alt="img">
                    </div>
                    <div class="login-userheading">
                        <h3>Reset Password</h3>
                    </div>
                    <div class="form-login">
                        <label>Password</label>
                        <div class="pass-group">
                            <input type="password" class="pass-input" id="pass" placeholder="Enter your password">
                            <span class="fas toggle-password fa-eye-slash"></span>
                        </div>
                    </div>
                    <div class="form-login">
                        <label>Confirm Password</label>
                        <div class="pass-group">
                            <input type="password" class="pass-inputs" id="confrim_pass" placeholder="Enter your password">
                            <span class="fas toggle-passwords fa-eye-slash"></span>
                        </div>
                    </div>
                    <div class="form-login">
                        <button class="btn  btn-login" onclick="Submit()">Reset Password</button>
                    </div>
                </div>
            </div>
            <div class="login-img">
                <img src="/assets/img/login.jpg" alt="img">
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var getUrlParameter = function getUrlParameter(sParam) {
             var sPageURL = window.location.search.substring(1),
                 sURLVariables = sPageURL.split('&'),
                 sParameterName,
                 i;

             for (i = 0; i < sURLVariables.length; i++) {
                 sParameterName = sURLVariables[i].split('=');

                 if (sParameterName[0] === sParam) {
                     return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                 }
             }
         };
        var Id = getUrlParameter('Id');
        var token = getUrlParameter('token');

        function Submit() {
            $.ajax({
                type: 'post',
                url: '/Backend/Resetpassword?handler=ResetPassword',
                data: {
                    Id: Id,
                    token:token,
                    confrim_pass:$("#confrim_pass").val()
                },
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                beforeSend: function () {
                    Swal.fire('กรุณารอสักครู่ กำลังทำรายการ')
                    Swal.showLoading()
                },
                success: function (data) {
                    Swal.fire({
                        icon: 'success',
                        title: 'เปลื่ยนรหัสผ่าน เรียบร้อยแล้ว',
                        showConfirmButton: false,
                        timer: 3500
                    },500);
                    window.location.href = '/Identity/Account/Login';
                },
                error: (e) => {
                    displayError(e);
                }
            });
         }
    </script>
}